<div class="header">
  {{#link-to 'home.aromas.index' tagName='div' class='pull-left'}}
    <div class="header-left">
      {{fa-icon 'chevron-left'}}
    </div>
  {{/link-to}}
  <h6 class="text-center">Add aroma</h6>
</div>

<hr>

{{#layout-content}}
  {{form-aroma model=model onSubmit=(action 'save')}}
{{/layout-content}}
