{{#layout-header}}
  <div class="header-left">
    {{#link-to 'home.aromas.index' class="btn btn-link btn-block"}}
      {{fa-icon 'chevron-left'}}
    {{/link-to}}
  </div>
  <h5 class="header-title text-center">Add aroma</h5>
  <div class="header-right"></div>
{{/layout-header}}

{{#layout-content}}
  {{form-aroma model=model onSubmit=(action 'save')}}
{{/layout-content}}
