& {
  display: flex;
  flex-flow: column nowrap;
  overflow: hidden;
  position: relative;

  .container-fluid {
    overflow: auto;

    @include size(100%, $layout-default-height);

    div {
      min-height: 100%;
    }
  }
}
