& {
  display: flex;
  flex-flow: column nowrap;
  overflow: hidden;
  position: relative;

  .container-fluid {
    overflow: hidden;

    @include size(100%, $layout-default-height);

    .liquid-container > .liquid-child > .liquid-container > .liquid-child {
      display: flex;
      flex-flow: column nowrap;
    }
  }
}
