{{#layout-header}}
  <div class="header-left">
    {{#link-to 'home.recipes.index' class="btn btn-link btn-block"}}
      {{fa-icon 'chevron-left'}}
    {{/link-to}}
  </div>
  <h5 class="header-title text-center">Add recipe</h5>
  <div class="header-right"></div>
{{/layout-header}}


{{#layout-content}}
  {{form-recipe model=recipe aromas=aromas bases=bases onSubmit=(action 'save')}}
{{/layout-content}}
