{{#layout-header}}
  <div class="header-left"></div>
  <h5 class="header-title text-center">Recipes</h5>
  <div class="header-right">
    {{#link-to 'home.recipes.add' class="btn btn-link btn-block"}}
      {{fa-icon 'plus'}}
    {{/link-to}}
  </div>
{{/layout-header}}

{{#layout-content}}
  {{#each model as |recipe|}}
    {{recipe-card recipe=recipe}}
  {{/each}}
{{/layout-content}}
