<div class="header">
  <h6 class="text-center">Aromas</h6>
  {{#link-to 'home.add-aroma' tagName='div' class='pull-right'}}
    <div class="header-right">
      {{fa-icon 'plus'}}
    </div>
  {{/link-to}}
</div>
<hr>
<dl class="dl-horizontal">
  {{#each model as |aroma|}}
    {{aroma-card aroma=aroma}}
  {{/each}}
</dl>
