& {
  align-items: center;
  background: #000;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 0 1rem;

  @include size(100%, (100vh - $layout-default-height));

  a, .btn.btn-link {
    color: $color-text-invert;
    padding: 1.9rem;
    transition: color 200ms ease;

    &.active {
      color: $color-text-invert-active;
      transition: color 200ms ease;
    }
  }
}
