<div class="vp-navigation-left">
  {{#link-to 'home.recipes.index' class='btn.btn-link'}}{{fa-icon 'flask'}}{{/link-to}}
  {{#link-to 'home.aromas.index' class='btn.btn-link'}}{{fa-icon 'thermometer-full'}}{{/link-to}}
</div>
