<div class="content-fluid bg-primary full-height">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3 pushed">
      {{#bs-button type="default" click=(action "signIn" "google") block=true}}
        Sign in with {{fa-icon "google" class="text-danger"}}oogle
      {{/bs-button}}
    </div>
  </div>
</div>