{{#layout-header}}
  <div class="header-left"></div>
  <h5 class="header-title text-center">Aromas</h5>
  <div class="header-right">
    {{#link-to 'home.aromas.add' class='btn btn-link btn-block'}}
      {{fa-icon 'plus'}}
    {{/link-to}}
  </div>
{{/layout-header}}

{{#layout-content}}
  {{#each model as |aroma|}}
    {{aroma-card aroma=aroma}}
  {{/each}}
{{/layout-content}}
