& {
  .well {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    background-color: #337ab7!important;
    align-items: center;

    .aroma-text {
      display: flex;
      flex-flow: column nowrap;

      &-vendor {
        font-size: 1.4rem;
        color: #bbb;
      }

      &-name {
        font-size: 2rem;
      }
    }

    .aroma-volume {
      font-size: 2.5rem;
    }
  }
}
